.progress-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transform-origin: center center;
}

.progress-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0.7rem;
    column-gap: 1rem;
    width: 100%;
    min-width: 0;
    align-items: center;
}

.progress-grid .expand-arrow {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}
