@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
  --background: #0F0F0F;
  --color-primary-1: #B7FF2F;
  --color-primary-2: #FFE86D;
  --color-primary-3: #F9773B;

  --color-neutral-1: #FFFFFF;
  --color-neutral-2: #242424;
  --color-neutral-3: #3e3e3e54;

  --text-default: #0F0F0F;
  --text-accent-1: var(--color-primary-1);
  --text-accent-2: var(--color-primary-2);
  --text-accent-3: var(--color-primary-3);
  --text-inverse:  #FFFFFF;


  /*--bg: #0F0F0F;*/
   /* --panel: #242424;*/
  /*--panel-2: #3e3e3e54;*/
 /* --muted: #DCDCDC;*/
 /* --accent-neon: #B7FF2F; */
 /*   --accent-orange: #F9773B; */
/*--accent-yellow: #FFE86D;*/
/*  --white: #FFFFFF;*/

  --accent-blue: #97B9FF;
  --accent-light-yellow: #d8e2a7;
  --accent-pink: #541921;
  --accent-rose: #004821;
  --radius-lg: 16px;

  --notif-bg: #2a2a2a;
  --notif-text: #cccccc;
  --notif-badge: #F9773B;
  --notif-count-bg: #B7FF2F; 
  --notif-accent: #B7FF2F; 
  --notif-accent-hover: #DCDCDC; 
  --notif-avatar-start: #00b37e;
  --notif-avatar-end: #ffd24d;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--background);
  line-height: 1.2;
}


html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}


html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  -webkit-overflow-scrolling: touch;
}

h2 {
  font-weight: 600;
  font-size: x-large;
  color: var(--text-default);
  margin: 0vh;
}

h3 {
  font-weight: 200;
  font-size: medium;
  color: var(--text-default);
  margin: 0vh;
}

p {
  font-weight: 300;
  font-size: x-small;
  color: var(--text-default);
}

small {
  color: black;
  font-weight: 200;
  margin: 0 0 0 0.5%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h3 button {
  background-color: var(--color-neutral-3);
  color: var(--text-default);
  padding: 0vh 1vh;
  margin-left: 23vh;
  border-radius: 30%;
  font-size: medium;
  transition: background-color 0.3s ease;
  font-weight: 600;
}