@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
  --bg: #0F0F0F;
  --panel: #242424;
  --panel-2: #3e3e3e54;
  --muted: #DCDCDC;
  --accent-neon: #B7FF2F;
  --accent-orange: #F9773B;
  --accent-yellow: #FFE86D;
  --white: #FFFFFF;
  --radius-lg: 16px;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--bg);
  line-height: 1.2;
}

h2 {
  font-weight: 600;
  font-size: x-large;
  color: var(--bg);
  margin: 0vh;
}

h3 {
  font-weight: 200;
  font-size: medium;
  color: var(--bg);
  margin: 0vh;
}

p {
  font-weight: 300;
  font-size: x-small;
  color: var(--bg);
}

small {
  color: black;
  font-weight: 200;
  margin: 0 0 0 0.5%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h3 button {
  background-color: var(--panel-2);
  color: var(--bg);
  padding: 0vh 1vh;
  margin-left: 23vh;
  border-radius: 30%;
  font-size: medium;
  transition: background-color 0.3s ease;
  font-weight: 600;
}