.task-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
