.tt-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tt-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    row-gap: 0.7rem;
    column-gap: 1rem;
    width: 100%;
    min-width: 0;
    align-items: center;
}

.tt-title {
    line-height: 100%;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--accent-neon);
}

.tt-blocks {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: flex-start;
}

.tt-block {
    background: var(--accent-neon);
    padding: 5% 0;
    border-radius: 0.75rem;
    width: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.25);
    color: var(--panel);
}

.tt-block span {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1;
}

.tt-block label {
    font-size: 0.6rem;
    opacity: 0.7;
    margin-top: 0.2rem;
}

.tt-btn-row {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
}

.tt-circle {
    width: 1.5rem;   
    height: 1.5rem;  
    border-radius: 50%;
    background: var(--accent-neon);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s ease;
    border: none;
}

svg {
    scale: 1.7;
}

.tt-circle:hover {
    background: var(--muted);
}

.tt-grid .expand-arrow {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
}
